In [1]:
import pandas as pd

In [4]:
df = pd.read_json('./data/oos_train.json').rename(columns = {0: 'sentence', 1: 'topic'})
df.sample(5)

                                             sentence topic
0               how much is an overdraft fee for bank   oos
99  what's the average battery life of an android ...   oos
37                    when do the utah jazz play next   oos
86        who is the scariest character in start trek   oos
96              what does it mean to be an alpha male   oos

In [10]:
for s in df['sentence'].sample(10):
    print(s)

why are exponents preformed before multiplication in the order of operations
what year was shawshank redemption released
what is the highest earning game on atari
where was john denver born
how can i become an aerospace engineer
any headlines from my area
what's the average battery life of an android phone
which piano is best for classical
how do i open an online line of credit
what's the biggest saas marketing company in the united states